<html>

<head>
  <link rel="shortcut icon" href="https://umihico.github.io/favicon.ico">
  <link rel="stylesheet" href="css.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <title>thumbnailed-{{ topic }}s</title>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <h2><span>GIF Screenshots of everybody's <a href="https://github.com/topics/{{ topic }}">#{{ topic }}</a>s on GitHub</h2>
  <h3>
    <div class="no-wrap">
      <a href="https://github.com/umihico/thumbnailed-portfolio-websites/">Repository@GitHub</a>
    </div>
    <div class="no-wrap">
      <a class="github-button" href="https://github.com/umihico/thumbnailed-portfolio-websites" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star umihico/thumbnailed-portfolio-websites on GitHub">Star</a>　<a class="github-button"
        href="https://github.com/umihico/thumbnailed-portfolio-websites/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue umihico/thumbnailed-portfolio-websites on GitHub">Issue</a>
    </div>
  </h3>
  <h3>
    sister website:<a href="http://umihi.co/{{ sister_website_name }}/">{{ sister_website_name }}</a>
  </h3>
  <div class="locations">
    {% for tag,count in tags_info[:tags_num] %}
    <a href="location-{{ tag }}0001.html">{{ tag }}({{ count }})</a>　
    {% endfor %}
    <br>
  </div>
  <div class="row">
    {% for url,value,self in headline_menu %}
    <div class="col-sm-6 col-md-4">
      {% if self %}
      <h3>{{ value }}</h3>
      {% else %}
      <h3><a href="{{ url }}">{{ value }}</a></h3>
      {% endif %}
    </div>
    {% endfor %}
    <div class="col-sm-6 col-md-4">
      <h3><a href="locations.html">All locations</a></h3>
    </div>
    <div class="col-sm-6 col-md-4">
      <h3><a href="database.html">All users</a></h3>
    </div>
    <div class="col-sm-6 col-md-4">
      <h3><a href="purpose.html">Purposes</a></h3>
    </div>
  </div>
  <table>
    <tr>
      {% for value,url,do_href in pagenation_bar %}
      <td>
        {% if do_href %}
        <a href="{{ url }}">{{ value }}　</a>
        {% else %}
        {{ value }}　
        {% endif %}
      </td>
      {% endfor %}
    </tr>

  </table>
  <br>
  <div class="userboxes">
    <div class="row">
      {% if optional_content %}
      {{ optional_content }}
      {% endif %}
      {% for filename, tubled_inforows, location_tags, lang_ratios in repos %}
      <div class="col-sm-6 col-md-4">
        <div class="userbox">
          <a href="{{ filename }}"><img src="{{ filename }}" alt="{{ filename }}"></a>
          {% for string,url,do_herf in tubled_inforows %}
          <li>
            {% if do_herf %}
            <a href="{{ url }}">{{ string }}</a>
            {% else %}
            {{ string }}
            {% endif %}
          </li>
          {% endfor %}
          {% if location_tags %}
          <li>
            {% for location_tag in location_tags %}
            <a href="location-{{ location_tag }}0001.html">{{ location_tag }}</a> /
            {% endfor %}
          </li>
          {% endif %}
          {% for lang,ratio,color,font_color in lang_ratios %}
          <span class="language-color" style="min-width:{{ ratio }}%; background-color:{{ color }};"><span class="lang" style="color: {{ font_color }};">{{ lang }}</span></span>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <table>
    <tr>
      {% for value,url,do_href in pagenation_bar %}
      <td>
        {% if do_href %}
        <a href="{{ url }}">{{ value }}　</a>
        {% else %}
        {{ value }}　
        {% endif %}
      </td>
      {% endfor %}
    </tr>
  </table>
</body>

</html>