
table {  margin: 0px auto; }
h1 { text-align:center;}
h2 { text-align:center;}
h3 { text-align:center;}
h4 { text-align:center;}
body { background: #dddddd}
.pgif-table { border-style: solid; border-width: 1px;}
.pgif {max-width: 100%;}
