
table {  margin: 0px auto; }
h1 { text-align:center;}
h2 { text-align:center;}
h3 { text-align:center;}
h4 { text-align:center;}
body { background: #dddddd !important;}
.userbox{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border: solid 1px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    max-width: 520px;
}
.userbox li {
    margin: 0;
    padding: 0;
}
.userbox img {max-width: 100%;}
