<html>
  <head>
  </head>
  <body bgcolor='DDDDDD'>
    <table align="center">
      <h2 align="center">GIF Screenshots of everybody's <a href="https://github.com/topics/portfolio-website">#portfolio-websites</a> on GitHub</h2>
      <h3 align="center"><a href="https://github.com/umihico/thumbnailed-portfolio-websites/">Star this project!</a></h3>
      <tr>
        {% for url,value,self in headline_menu %}
          <td>
            {% if self %}
              <h2>{{ value }}</h2>
            {% else %}
              <h3><a href="{{ url }}">{{ value }}</a></h3>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      {% for tag,count in tags_info[:tags_num] %}
        <a href="location-{{ tag }}0001.html">{{ tag }}({{ count }})</a> /
      {% endfor %}
      <a href="locations.html">ALL LOCATIONS</a>/<a href="database.html">didn't find yourself?</a>
      <br>
    </table>
    <table align="center">
      <tr>
        {% for value,url,do_href in pagenation_bar %}
          <td>
            {% if do_href %}
            <a href="{{ url }}">{{ value }}</a>
            {% else %}
              {{ value }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>

    </table>
    <table align="center" border="1">
      {% if grid %}
        {% for tr_repos in tabulated_repos %}
          <tr>
            {% for filename, tubled_inforows, location_tags in tr_repos %}
              <td>
                <img src="{{ filename }}" alt="{{ filename }}">
                {% for string,url,do_herf in tubled_inforows %}
                  <li>
                  {% if do_herf %}
                    <a href="{{ url }}">{{ string }}</a>
                  {% else %}
                    {{ string }}
                  {% endif %}
                  </li>
                {% endfor %}
                {% if location_tags %}
                  <li>
                  {% for location_tag in location_tags %}
                    <a href="location-{{ location_tag }}0001.html">{{ location_tag }}</a> /
                  {% endfor %}
                  </li>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="10"> if you didn't find yourself, or error with unknown reason, feel free to create issue.</td>
        </tr>
        {% for tr in non_grid_rows %}
          <tr >
            {% for value,do_href,url in tr %}
              <td nowrap>
                {% if do_href %}
                  <a href="{{ url }}">{{ value }}</a>
                {% else %}
                  {{ value }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <table align="center">
      <tr>
        {% for value,url,do_href in pagenation_bar %}
          <td>
            {% if do_href %}
            <a href="{{ url }}">{{ value }}</a>
            {% else %}
              {{ value }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </table>
  </body>
</html>
